/*!
 * FX CSS (http://github.com/quelchx)
 * Version: 0.0.1
 * Author: Eric Quelch @quelchx
 * Author URL: http://quelchx.com/
 * Github: https://github.com/quelchx/fx-css
*/

@import './utils/constants.scss';
@import './utils/mixins.scss';
@import './utils/keyframes.scss';

.hfx {
  &-bounce {
    &:hover {
      @include afx(bounce, $hs, $count);
    }
  }

  &-shake {
    &:hover {
      @include afx(shake, $hs, $count);
    }
  }

  &-pulse-shake {
    &:hover {
      @include shadow();
      @include afx(pulse-shake, $hs, $count / 2);
    }
  }

  &-grow {
    &:hover {
      @include shadow();
      @include fx(scale(1.06) translateZ(0));
    }
  }

  &-shrink {
    &:hover {
      @include shadow();
      @include fx(scale(0.9) translateZ(0));
    }
  }

  &-squeeze {
    &:hover {
      @include shadow();
      @include afx(squeeze, $hs, $count / 2);
    }
  }

  &-squish {
    &:hover {
      @include shadow();
      @include afx(squish, $hs, $count / 2);
    }
  }

  &-float {
    &:hover {
      @include shadow();
      @include afx(floats, 2s, $inf);
    }
  }

  &-sink {
    &:hover {
      @include shadow();
      @include afx(sink, 2s, $inf);
    }
  }

  &-skewed-fw {
    &:hover {
      @include fx(skew(-10deg));
      transform-origin: 0 100%;
    }
  }

  &-shimmy {
    &:hover {
      @include afx(wobble-top, 0.5s, $count / 2);
      transform-origin: 0 100%;
    }
  }

  &-be-bop {
    &:hover {
      @include afx(be-bop, 0.5s, $count / 2);
    }
  }

  &-skewed-bw {
    &:hover {
      @include fx(skew(10deg));
      transform-origin: 0 100%;
    }
  }

  &-highlight {
    box-shadow: $shade;
    @include transist(background-color);
    @include transist(box-shadow);
    @include duration(0.4s);

    &:hover {
      background-color: rgb(212, 212, 7);
      color: black;
      box-shadow: $shadow;
    }
  }

  &-waterfall {
    &:hover {
      @include afx(waterfall, 0.3s, $count * 2);
    }
  }

  &-nudge {
    &:hover {
      @include afx(nudge, 0.6s, $count);
    }
  }

  &-shadow {
    box-shadow: $shade;
    @include duration(0.4s);
    @include transist(box-shadow);

    &:hover {
      box-shadow: $shadow;
    }
  }

  &-pulse {
    &:hover {
      @include shadow();
      @include afx(pulse, $hs, 1);
    }
  }
}
