@import './mixins.scss';

@include keyframes(bounce) {
  30% {
    @include fx(translateY(1px));
  }
  60% {
    @include fx(translateY(0px));
  }
  90% {
    @include fx(translateY(1px));
  }
}

@include keyframes(shake) {
  30% {
    @include fx(translateX(1px));
  }
  60% {
    @include fx(translateX(0px));
  }
  90% {
    @include fx(translateX(1px));
  }
}

@include keyframes(pulse) {
  25% {
    @include fx(scale(1.05) translateZ(0));
  }
  75% {
    @include fx(scale(0.95) translateZ(0));
  }
}

@include keyframes(pulse-shake) {
  25% {
    @include fx(scale(1.05) translateX(-2px) translateZ(0));
  }
  50% {
    @include fx(scale(1) translateX(0) translateZ(0));
  }
  75% {
    @include fx(scale(0.95) translateX(2px) translateZ(0));
  }
}

@include keyframes(squeeze) {
  25% {
    @include fx(rotateY(30deg));
  }
  50% {
    @include fx(rotateY(0deg));
  }
  75% {
    @include fx(rotateY(30deg));
  }
}

@include keyframes(floats) {
  25% {
    @include fx(translateY(-4px));
  }
  50% {
    @include fx(translateY(-3px));
  }
  75% {
    @include fx(translateY(-4px));
  }
}

@include keyframes(wobble-top) {
  25% {
    @include fx(skew(15deg));
  }
  50% {
    @include fx(skew(-10deg));
  }
  75% {
    @include fx(skew(15deg));
  }
}

@include keyframes(sink) {
  25% {
    @include fx(translateY(4px));
  }
  50% {
    @include fx(translateY(3px));
  }
  75% {
    @include fx(translateY(4px));
  }
}

@include keyframes(waterfall) {
  25% {
    text-decoration: overline;
  }
  50% {
    text-decoration: line-through;
  }
  70% {
    text-decoration: underline;
  }
  90% {
    text-decoration: overline;
  }
}

@include keyframes(nudge) {
  20% {
    @include fx(translate(1px, 0px));
  }
  40% {
    @include fx(translate(5px, 0px));
  }
  60% {
    @include fx(translate(3px, 0px));
  }
  80% {
    @include fx(translate(4px, 0px));
  }
  100% {
    @include fx(translate(1px, 0px));
  }
}

@include keyframes(be-bop) {
  25% {
    @include fx(translate(6px, 2px));
  }
  60% {
    @include fx(translate(4px, -2px));
  }
  80% {
    @include fx(translate(6px, 2px));
  }
  95% {
    @include fx(translate(6px, 2px));
  }
}

@include keyframes(squish) {
  25% {
    @include fx(rotateX(30deg));
  }
  50% {
    @include fx(rotateX(0deg));
  }
  75% {
    @include fx(rotateX(30deg));
  }
}
